<!DOCTYPE html>
<html lang="en" ng-app="CIS557">
<head>
    <title>Code Master Team Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/dropzone/dist/dropzone.css">
    <link rel="stylesheet" href="stylesheets/userProfile.css">
    <script type="text/javascript" src="bower_components/dropzone/dist/dropzone.js"></script>
    <script type="text/javascript" src="javascript/userProfile.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
</head>

<body>
<!-- navigation bar -->
<div ng-controller="feedController">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="" class="tag">PhotoGram</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                  <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                    <img id="userImageFour" ng-src="{{image}}" alt="user image"
                         class="img-responsive img-circle" alt="user image"
                         style="width: 30px; height:30px">
                  </span>
                  <span class="dropdown"> {{userName}}
                  </span>
                      <div class="dropdown-content">
                          <a class = "Signout" ng-model="signout" ng-click="signOut()">Sign out</a>
                      </div>
                      <b class="caret"></b>
            </li>
        </ul>
    </div>
  </div>

<!-- main body -->
  <div id="parent">
      <div id="left_side">
          <div class="container bootstrap snippet">
              <br>
              <div class="row">

                <!-- Left side bars -->
                  <div class="col-sm-3">
                      <div class="text-center">
                          <img id="userImage" ng-src="{{image}}" alt="user image"
                               class="avatar img-circle img-thumbnail">
                      </div>
                      </hr><br>
                      <div class="panel panel-default">
                          <div class="panel-heading"><strong> Basic Information</strong></div>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Name  </strong><span
                                  class="glyphicon glyphicon-user"></span>
                      </span>
                              <p class="userName" id="Name">{{userName}}</p></li>
                          <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>Date Of Birth  </strong><span
                                  class="glyphicon glyphicon-star"></span>
                      </span>
                              <p id="DateOfBirth">{{DateOfBirth}}</p></li>
                          <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>Gender    </strong><span
                                  class="glyphicon glyphicon-adjust"></span>
                      </span>
                              <p id="Gender">{{gender}}</p></li>
                          <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>Country   </strong><span
                                  class="glyphicon glyphicon-globe"></span>
                      </span>
                              <p id="country">{{Country}}</p></li>
                          <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>Self Introduction    </strong><span
                                  class="glyphicon glyphicon-info-sign"></span>
                      </span><br>
                              <p id="overview">{{selfIntro}}</p></li>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading"><strong>Activity</strong></div>

                          <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>Likes by current user</strong><span
                                  class="glyphicon glyphicon-thumbs-up"></span>
                                </span>
                              <p id="ActLikes"> {{totalLikes}}</p></li>
                          <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>Posts by current user</strong><span
                                  class="glyphicon glyphicon-file"></span>
                                </span>
                              <p id="ActPosts"> {{totalPosts}}</p></li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Followers of current user</strong><span
                                  class="glyphicon glyphicon-heart-empty"></span>
                                </span>
                              <p id="ActFollowers"> {{totalFollowers}}</p></li>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading"><strong>Follow more users!</strong></div>
                          <br>
                          <div class="panel-body" style="padding: 4px;">
                              <div style="display:flex;">
                                  <input type="text" ng-model="searchUserName" style="width: 100%; height:25px;" placeholder="find some friends">
                              <br><br>

                              <button id="searchUser" ng-click="searchUser()" style="flex: 1; padding: 1px 5px 2px; height:25px;">Search </button>
                              </div>
                          </div>

                          <div class="panel-body" style="padding: 4px; overflow: scroll" ng-repeat="x in followUsers track by $index">
                              <div style="display:flex;">
                                <span style="width: 90%; height: 10%;">  <a href="{{visitUser(email,x.email)}}">{{x.name}}</a></span>
                              <br><br>

                              <button id="follow" style="flex: 1; padding: 1px 5px 2px; height:25px;" ng-click="followFriends(x.email)">+Follow </button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- right side content -->
                  <div class="col-sm-9">
                     <!-- navigations -->
                      <ul class="nav nav-tabs">
                          <li><a href="{{getProfilePage()}}">User Profile</a></li>
                          <li><a href="{{getUpdateInfoPage()}}">Add/Update Profile</a></li>
                          <li><a href="{{getActiveFeed()}}">Activity Feed</a></li>
                      </ul>

                      <!-- Info Panel -->
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <span>
                                  <h1 class="panel-title pull-left" style="font-size:30px;"><span id = "checkName" class="userName">{{userName}}</span></h1>
                                  <br><br>
                                    <span><h5><span id='userEmail'>    {{email}}</span></h5>
                              </span>
                                  <hr>
                              <span class="pull-left">
                                  <a href="#" class="btn btn-link" style="text-decoration:none;"> Posts <span class="badge">{{outArray.length}}</span></a>
                                  <button id = "showContacts" class="btn btn-link" style="text-decoration:none;" ng-click="showContacts()"> Contacts <span class="badge">{{contactNumbers}}</span></button>
                              </span>
                          </div>
                      </div>

                      <!--Show contacts-->
                      <div class="panel panel-default">
                          <div class="panel-body" style="padding: 4px;" ng-repeat="x in contacts track by $index">
                            <div id = "contact" style="display:flex;">
                                <span style="width: 90%; height: 20%; display:inline-block;">
                                  <img ng-src="{{x.profilePhoto}}" alt="user image"
                                     style="width: 40px; height:40px; border-radius:50%" >
                                     <a href="{{visitUser(email,x.email)}}">{{x.fullName}}</a></span>
                                <br><br>

                                <button style="flex: 1; height:25px; background-color: gray; margin-right: 10px; margin-top: 5px;
                                border-radius: 8px; color: white; border: 0px;" ng-click="unfollowFriends(x.email)">Unfollow </button>
                            </div>
                          </div>
                      </div>

                      <!-- Post Area -->
                      <div class="panel panel-default">
                        <div class="panel-heading"><strong>Create Post</strong></div>
                          <div class="panel-body">
                              <textarea id="postText" ng-model="text1"
                                        placeholder="Write Something to Post!"></textarea>
                              <div id="alertText"></div>
                              <form id="upload-widget" method="post" action="{{getUploadURL()}}" class="dropzone"></form>
                              <br>
                              <textarea id="postTag" ng-model="tag"
                                       placeholder="Write some tags for this post!"></textarea>
                              <hr>
                              <span class="pull-left" style="margin-right:25px; display:inline-block">
                                <div class="dropdown">
                                  <button class="tagBtn"> Tag </button>
                                  <div class="dropdown-content" ng-repeat = "x in tagFriends track by $index">
                                    <a ng-click="showTagFriend(x.email, x.fullName)">{{x.fullName}}</a>
                                  </div>
                                </div>
                              </span>

                              <span class="pull-left">
                                <div id="showTagNotDisplay" style="display:none;">{{showtag}}</div>
                                <div id="tagArea" ng-repeat = "x in showtag track by $index">
                                {{x.fullName}}
                                </div>
                              </span>


                              <span class="pull-right">
                                <button id="postBtn"> Post </button>
                              </span>
                          </div>
                      </div>

                      <!-- Post content -->
                      <div class="panel panel-default" ng-repeat="x in outArray track by $index">
                          <div class="panel-body" id = {{10+x.postidOld}} >
                              <!-- profile photo -->
                              <div class="pull-left">
                                  <a href="#">
                                      <img class="media-object img-circle" id="userImageTwo" ng-src="{{x.profilePhoto}}"
                                           alt="user image"
                                           style="width:50px; height: 50px; margin-right:8px; margin-top:-5px;">
                                  </a>
                              </div>
                              <!-- name and time -->
                              <h4><a href="{{visitUser(email,x.userid)}}" style="text-decoration:none;"><strong><span class="userName">{{x.fullName}}</span></strong></a>
                                  <small>
                                      <small><i><i class="fa fa-clock-o" aria-hidden="true"></i> {{x.date}}</i>
                                      </small>
                                  </small>
                              </h4>

                              <!-- Post Content -->
                              <div class="post-content">
                                  <div id = {{x.postidOld}}>
                                      <p id="{{2+x.postidOld}}" class="showText">{{x.text}}</p>
                                      <img  id = {{3+x.postidOld}} class="showImg" ng-src="data:image/png;base64, {{x.image}}" width="700px">
                                      <br><br>
                                      <button class="tags" ng-click="showPostByTags(x.tag)">#{{x.tag}}</button>
                                      <a class="tagFriends" href = "{{visitUser(email,y.email)}}" ng-repeat="y in x.tagFriends track by $index">@{{y.fullName}}</a>
                                 </div>

                              </div>
                              <hr>
                              <!-- buttons -->
                              <div class="dropdown">
                              <span class="pull-left btn-group-xs buttonGroup">

                                <span class="glyphicon glyphicon-thumbs-up" style="padding-left: 5px;"></span>
                                <span>{{x.likes}}</span>
                                <div class="dropdown-content" ng-repeat = "l in x.likedByFullName track by $index">
                                  <a>{{l}}</a>
                                </div>
                              </span>
                              </div>

                              <div class="pull-right btn-group-xs buttonGroup">
                                <button id = {{20+x.postidOld}}  class="btn btn-default btn-xs"  ng-click="addLikes(email, x.postidOld, $index)">
                                <strong>{{x.checkLikes}}</strong> <span class="glyphicon glyphicon-thumbs-up"></span></button>

                                  <!-- <button id = {{x.postidOld+30}} class="btn btn-default btn-xs" ng-click="addDisLikes(email, x.postidOld)">
                                  <strong>DisLike</strong> <span class="glyphicon glyphicon-thumbs-down"></span> : {{ x.dislikes }}</button> -->

                                  <button id = "editPostText"  class="btn btn-default btn-xs" ng-click="editPostText(x.postidOld)" style= "display: {{x.display}}">
                                  <strong> Edit Text </strong><span class="glyphicon glyphicon-pencil"></span></button>

                                  <button id = "changePics"  class="btn btn-default btn-xs" ng-click="changePicture(x.postidOld)" style= "display: {{x.display}}">
                                  <strong> Edit Picture </strong><span class="glyphicon glyphicon-pencil"></span></button>

                                  <button id = "deletePost"  class="btn btn-default btn-xs" ng-click="deletePost(x.postidOld)" style= "display: {{x.display}}">
                                  <strong> Delete Post </strong><span class="glyphicon glyphicon-trash"></span></button>

                                  <button id = "deletePics"  class="btn btn-default btn-xs" ng-click="deletePicture(x.postidOld)" style= "display: {{x.display}}">
                                  <strong> Delete Picture </strong><span class="glyphicon glyphicon-trash"></span></button>
                              </div>
                              <br><hr>

                              <!-- Comment -->
                              <div id = "commentShow" class="panel-body" ng-repeat="y in x.comment track by $index">
                                <div>
                                  <img class="media-object img-circle" id="commentProfilePhoto" ng-src="{{y.imageSrc}}"
                                       alt="user image"
                                       style="width:35px; height: 35px;">
                                </div>
                                <div id = "commentText">
                                  <div>
                                    <h5><a href="{{visitUser(email,y.user)}}" style="text-decoration:none;"><strong><span class="userName">{{y.fullName}}</span></strong></a></h5>
                                  </div>
                                  <div id="{{y.commentID}}">
                                    {{y.comment}} &nbsp
                                  </div>
                                  <a class="cmtTag" ng-repeat="z in y.tags track by $index" href="{{visitUser(email,z.email)}}" style="color: #6495ED;">
                                  @{{z.fullName}}
                                  </a>
                                </div>

                                <!-- Edit and Delete Comments -->
                                <div id="editDel">
                                  <div>
                                      <button class="btn btn-default btn-xs" ng-click="editComment(y.commentID, x.postidOld)" style= "display: {{y.display}}">
                                      <strong> Edit comment</strong><span class="glyphicon glyphicon-pencil"></span></button>
                                  </div>
                                  <div>
                                      <div>
                                          <button class="btn btn-default btn-xs" ng-click="deleteComment(y.commentID, x.postidOld)" style= "display: {{y.display}}">
                                          <strong>Delete comment</strong><span class="glyphicon glyphicon-trash"></span></button>
                                      </div>
                                  </div>
                                </div>



                              </div>


                              <!-- Comment Bar -->
                              <div class="media">
                                  <div class="pull-left">
                                      <a href="#">
                                          <img class="media-object img-circle" id="userImageThree"
                                               ng-src="{{image}}" alt="user image"
                                               style="width:35px; height: 35px; margin-left:3px; margin-right:-5px;">
                                      </a>
                                  </div>

                                  <div class="media-body">
                                      <div id={{1+x.postidOld}}>
                                          <input id="inputComment" type="text" placeholder="Post Comment"
                                          ng-model="Comment">
                                          <button id="commentBtn" ng-click="addComment(email, x.postidOld)">submit</button>
                                      </div>
                                 </div>
                              </div>
                              <div class="panel-body">
                              <span class="pull-left" style="margin-right:0px; display:inline-block">
                              <div class="dropdown">
                                <button class="tagBtnCmt"> @ </button>
                                <div class="dropdown-content" ng-repeat = "x in tagFriends track by $index">
                                  <a ng-click="showTagFriendCmt(x.email, x.fullName)">{{x.fullName}}</a>
                                </div>
                              </div>
                            </span>

                              <span class="pull-left">
                                <div id="showTagNotDisplayCmt" style="display:none;">{{showtagCmt}}</div>
                                <div class="tagAreaCmt" ng-repeat = "x in showtagCmt track by $index">
                                {{x.fullName}}
                                </div>
                              </span>
                            </div>


                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
</body>
</html>
